<!DOCTYPE html>

<html lang="en">

<body>
    <!-- Header Prefab -->
    <template>
        <header>
            <div class="left">
                <img src="../../Assets/Images/Icon/CAGE/Transparent-White.png" alt="">
                <div style="height: 100%;display: flex;flex-direction: column;justify-content: start;align-items: center;">
                    <h1 class="Text-Wrap" style="height: 60%;width: 100%;">Cage Foundation</h1>
                    <h2 class="Text-Wrap" style="height: 40%;width: 100%;">Capture, Analyze, Guard, Exploit</h2>
                </div>
            </div>

            <div class="right"></div>
        </header>
    </template>
</body>

</html>