<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../Assets/Styles/Universal.css">
    <link rel="stylesheet" href="../../Assets/Components/Anomaly/Style.css">

    <title>CAGE</title>
</head>

<body>
    <script src="../../Assets/Scripts/Utilities.js"></script>
    
    <div id="body" class="container">
        <div id="document" class="content flex-column">
            
        </div>
    </div>
</body>

</html>